.colforbuttons{
    text-align: center;
    
}
.cardforphoto{
    height: 60%;
    margin-top: 45px;
    margin-bottom: 45px;
    border: 2px solid cadetblue;
}
.headercolor{
    background-color: black;
}

